main {
    background-size: cover;
}

.clock {
    animation: rotate 20s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotateX(20deg) rotateY(0deg);
    }

    to {
        transform: rotateX(20deg) rotateY(360deg);
    }
}

.clock {
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    position: absolute;
}

.clock-face {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 50%;
    transform: translateZ(30px);
    transform-style: preserve-3d;
}

.clock-body {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.wall {
    position: absolute;
    background: #333;
    transform-style: preserve-3d;
}

.wall-back {
    width: 314px;
    height: 314px;
    border-radius: 50%;
    transform: translateZ(-49px);
    background: #333;
    left: -7px;
    top: -7px;
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    background: #333;
    border-radius: 4px;
}

.hour-hand {
    width: 8px;
    height: 80px;
    background: #000;
    transform: translateX(-50%) rotate(0deg);
}

.minute-hand {
    width: 6px;
    height: 110px;
    background: #000;
    transform: translateX(-50%) rotate(0deg);
}

.second-hand {
    width: 2px;
    height: 120px;
    background: #e30613;
    transform: translateX(-50%) rotate(0deg);
}

.markers {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.marker {
    position: absolute;
    width: 8px;
    height: 31px;
    left: 50%;
    transform-origin: 0% 150px;
    border-top: 4px transparent solid;
    transform: rotate(var(--rotation, 0deg)) translateZ(var(--z-depth, 0px));
}

.marker::after {
    content: '';
    background-color: #333;
    width: 8px;
    height: 31px;
    display: block;
}

.marker.small::after {
    height: 15px;
    width: 4px;
}

.clock-slice {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateX(90deg);
}

.brick {
    position: absolute;
    left: 50%;
    top: 50%;
    width: var(--brick-width);
    height: var(--brick-height);
    transform-style: preserve-3d;
}

.brick::before,
.brick::after,
.brick>* {
    content: '';
    position: absolute;
    background: #444;
}

.brick::before {
    width: var(--brick-width);
    height: var(--brick-height);
    transform: translateZ(calc(var(--brick-depth) / 2));
    background: linear-gradient(to bottom, #333, #333);
}

.brick::after {
    width: var(--brick-width);
    height: var(--brick-height);
    transform: translateZ(calc(var(--brick-depth) / -2));
    background: linear-gradient(to bottom, #333, #222);
}

.brick {
    &::after {
        content: '';
        width: var(--brick-width);
        height: var(--brick-depth);
        transform: rotateX(90deg) translateZ(calc(var(--brick-height) / 2));
        background: #4a4a4a;
    }

    &::before {
        content: '';
        width: var(--brick-width);
        height: var(--brick-depth);
        transform: rotateX(-90deg) translateZ(-13px);
        background: #3a3a3a;
    }
}

.brick {
    margin: 1px;
}

.clock-slice-cover {
    position: absolute;
    border: 8px solid #333;
    width: 298px;
    height: 298px;
    border-radius: 50%;
    transform: translateZ(50px);
    background: transparent;
    left: -8px;
    top: -8px;
}